"""
CSC111 Final Project: Python Libraries we are using in GuessWho
"""

# Testing and code checking
hypothesis
pytest
python-ta~=2.4.1
csv
future
typing 

# Graphics and data visualization
pandas
matplotlib
